.DropdownMenu {
}

.DropdownMenu__MenuIcon {
  width: 2em;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
.Home {
  // background-image: url("../src/Images/Me\ in\ Rome.jpg");
}

.Home__Main-pic {
  width: -webkit-fill-available;
  position: relative;
}
