@font-face {
  font-family: Rexila;
  src: url("./Fonts/rexlia_rg.otf") format("opentype");
}

.AppWindow {
  background-color: black;
  color: #2cff21;
}

.about_text_temp {
  font-family: "Rexila";
  color: aliceblue;
}

.DropdownMenu {
  position: relative;
  width: 5em;
  display: contents;
}

.DropdownMenu__MenuIcon {
  width: 35px;
  height: 35px;
  margin-right: 1;
}

.DropdownMenuContent {
  border: solid #2cff21 1px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 7px;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  margin-top: 2em;
  right: 1em;
  top: 1em;
  text-align: center;
}
.DropdownMenuContent__Item {
  font-family: "Rexila";
  color: black;
  background-color: #2cff21;
  border-radius: 10px;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  max-height: fit-content;
}

.DropdownMenuContent__Link {
  text-decoration: none;
}

.DropdownMenuContent__Item:hover {
  background-color: rgb(80, 214, 67);
  color: aliceblue;
}

.Footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.Footer__Image {
  height: 37px;
  margin: 5px 5px 5px 5px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar__MainPic {
  width: 12em;
}

.Home {
  background-image: url("/Images/me_02_small_320.png");
  background-size: cover;
  min-height: 587px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.Home__MainText {
  margin-top: 7px;
  font-family: "Rexila";
  font-size: 23px;
  color: aliceblue;
  text-align: center;
}

.Home__MyStack__Large {
}

.Home__MyStack__Text {
  font-family: "Rexila";
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}

.Home__MyStack {
}

.Home__MyStack__Large__Logo {
  height: 60px;
  border-radius: 5px;
  border: solid rgb(80, 214, 67);
  margin: 0px 5px 0px 5px;
}

.Home__MyStack__Medium__Logo {
  height: 40px;
  border-radius: 5px;
  border: solid rgb(80, 214, 67);
  margin: 5px 5px 0px 5px;
}

//the color - 2cff21
