.AppWindow {
  background-color: black;
  color: #2cff21;
}

.DropdownMenu {
  position: relative;
  width: 5em;
  display: contents;
}

.DropdownMenu__MenuIcon {
  width: 35px;
  height: 35px;
  margin-right: 1;
}

.DropdownMenuContent {
  width: fit-content;
  background-color: black;
  padding-left: 4px;
  padding-right: 4px;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  margin-top: 2em;
  right: 1em;
  top: 1em;
}
.DropdownMenuContent__Item {
  background-color: #2cff21;
  padding: 2px;
  max-height: fit-content;
}

.DropdownMenuContent__Item:hover {
  background-color: rgb(80, 214, 67);
  color: aliceblue;
}
.Footer {
}

.Navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar__MainPic {
  width: 12em;
}

.Home {
  background-image: url("/Images/main_small_placeholder.png");
  background-size: cover;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.temp__p {
  display: none;
}

//the color - 2cff21
